{% load staticfiles %}
{% load polymerdep %}
{{ "polymer/polymer.html" |dep}}
{{ "paper-input/paper-input-container.html" |dep}}
{{ "iron-input/iron-input.html" |dep}}
<script src="{% static 'materialdjango/components/bower_components/webcomponentsjs/webcomponents.js' %}"></script>

<div class="geoposition-widget" data-map-widget-height="{{ config.map_widget_height }}" data-map-options="{{ config.map_options }}" data-marker-options="{{ config.marker_options }}">
    <table>
        <tr>
            <td>{{ latitude.label|capfirst }}</td>
            <td>{{ latitude.html }}</td>
        </tr>
        <tr>
            <td>{{ longitude.label|capfirst }}</td>
            <td>{{ longitude.html }}</td>
        </tr>
    </table>
</div>
